DB_HOST=localhost
DB_USER=root
DB_PASSWORD=changeme
DB_DATABASE=changeme
DB_PORT=3306

BACKEND_PORT=changeme

NODE_ENV=development

# Session Secret
SESSION_SECRET=changeme

# Ethereum Private Key
PRIVATE_KEY=your_private_key_here
# Ethereum RPC URL
RPC_URL=https://your_rpc_url_here
# Ethereum Token Contract Address
TOKEN_CONTRACT=0xYourTokenContractAddressHere